In [2]:
import pandas as pd

In [2]:
file = open("mydataintodb.txt", 'a')

In [3]:
for row in mydata.values:
    mystr1 = "insert INTO \
    .Participation (par_year, par_LGA_DESC, par_LGA_CODE, \
    par_Numerator, par_Denominator,par_Indicator_Calc) VALUES ("
    mystr1 += str(row[0]) + ", "
    mystr1 += "\'" + row[2] + "\'" + ", "
    mystr1 += "\'" +row[3]+ "\'"  + ", "
    mystr1 += str(row[5]) + ", "
    mystr1 += str(row[6]) + ", "
    mystr1 += row[7][:-1] + ");" + '\n'
    file.write(mystr1)

In [4]:
file.close()

In [ ]:
#import pandas lib
import pandas as pd

In [8]:
#read cleaned data 
data1=pd.read_csv("final_data1.csv",encoding = "ISO-8859-1")

In [52]:
#processing data into required format 
a_list=[]

In [54]:
i=0
for e in data1.Service_Name:
    a_list.append(e.replace("'"," "))
    i=i+1

In [57]:
data1.Service_Name=a_list

In [61]:
b_list=[]
i=0
for e in data1.address:
    b_list.append(e.replace("'"," "))
    i=i+1

In [62]:
data1.address=b_list

In [73]:
file = open("kinder.txt","a",encoding='utf-8')

In [74]:
#using python to create insert script to upload data into SQL database
for row in data1.values:
    mystr1 = "insert INTO \
  [dbo].[KinderInfoSet] (Name, Type, PostCode, \
    Suburb, Email,Phone,Rating,address,Location) VALUES ("
    mystr1 +="\'"+str(row[0])+ "\'" + ", "
    mystr1 += "\'" + str(row[1]) + "\'" + ", "
    mystr1 += "\'" +str(row[2])+ "\'"  + ", "
    mystr1 += "\'" +str(row[3]) + "\'"+ ", "
    mystr1 +="\'" +str(row[4])+ "\'"+ ", "
    mystr1 += "\'"+str(row[5])+ "\'" + ", "
    mystr1 += "\'"+str(row[6])+ "\'" + ", "
    mystr1 += "\'"+str(row[7])+ "\'" + ", "
    mystr1 += "\'" +str(row[8])+ "\'"+ ");" + '\n'
    file.write(mystr1)

In [75]:
file.close()

In [5]:
#import pandas lib & Requests lib
import pandas as pd
import requests

In [8]:
#read raw_data
raw_data =pd.read_csv("3333.csv")

In [9]:
#attributes check
raw_data.head()

,Service Approval Number,Service Name,Provider ID,Provider Name,Provider Management Type,Managing Jurisdiction,Service Type,Approval Date,Address Line 1,Address Line 2,Suburb/Town,Postcode,Address State,Service email,Service phone number,Provider Address,Provider Suburb,Overall Rating
0,SE-40010755,Mildura Family Day Care,PR-00001671,Mildura Rural City Council,State/Territory and Local Government managed,NSW,Family Day Care,2017/12/7,76-84 Deakin Avenue,NaN,MILDURA,3500,VIC,fdcinfo@mildura.vic.gov.au,350188271,PO Box 105,MILDURA,NaN
1,SE-00002613,Alexandra & District Kindergarten,PR-00001304,Alexandra and District Kindergarten Inc,Private not for profit community managed,VIC,Centre-Based Care,2012/1/1,15 Bayley Street,NaN,ALEXANDRA,3714,VIC,alexandra.kin@kindergarten.vic.gov.au,357721387,PO Box 52,ALEXANDRA,Meeting NQS
2,SE-00002614,Alexandra Baby Care,PR-00001754,Debra Joy Douglas,Private for profit,VIC,Centre-Based Care,2012/1/1,13 Coster Street,NaN,ALEXANDRA,3714,VIC,alexandrababycare@bigpond.com,357722155,13 Coster St,ALEXANDRA,Meeting NQS
3,SE-00002615,Altona Kindergarten,PR-00001947,Early Childhood Management Services Inc,Private not for profit community managed,VIC,Centre-Based Care,2012/1/1,89 Blyth Street,NaN,ALTONA,3018,VIC,altona@ecms.org.au,393982839,PO Box 182,NORTHCOTE,Exceeding NQS
4,SE-00002620,Somers Parade Kindergarten,PR-00001947,Early Childhood Management Services Inc,Private not for profit community managed,VIC,Centre-Based Care,2012/1/1,4 Somers Parade,NaN,ALTONA,3018,VIC,somersparade@ecms.org.au,393981526,PO Box 182,NORTHCOTE,Exceeding NQS

In [11]:
#select attributes & create new dataframe
df=pd.DataFrame(data=raw_data[["Service Name","Provider Management Type","Postcode", 'Address State',"Address Line 1","Address Line 2","Suburb/Town", 'Service email','Service phone number',"Overall Rating"]])

In [15]:
#re-name attributes
df1=df.rename(columns={"Service Name": "Service_Name","Provider Management Type": "Type","Address State":"State","Address Line 1":"address1","Address Line 2":"address2","Suburb/Town":"Suburb","Service email":"email",'Service phone number':'phone',"Overall Rating":"rating"})

In [51]:
#fetch address1 & start create complete address for each kindergartens.
address_a=[]
for e in df1.address1:
    address_a.append(e)

In [52]:
#combine two addresses as whole complete address & filter null value
f=0;
for i in range (len(address_a)):
    if(str(df1.address2[i]) != "nan"):
        address_a[i]=address_a[i]+" "+str(df1.address2[i])
        f=f+1

In [53]:
#filter null value on suburb & add into address
f=0;
for i in range (len(address_a)):
    if(str(df1.Suburb[i]) != "nan"):
        address_a[i]=address_a[i]+" "+str(df1.Suburb[i])
        f=f+1

In [56]:
#filter null value on postcode & add into address
f=0;
for i in range (len(address_a)):
    if(str(df1.Postcode[i]) != "nan"):
        address_a[i]=address_a[i]+" "+str(df1.Postcode[i])
        f=f+1

In [59]:
#filter null value & add into address
f=0;
for i in range (len(address_a)):
    if(str(df1.State[i]) != "nan"):
        address_a[i]=address_a[i]+" "+str(df1.State[i])
        f=f+1

In [63]:
# Write script to get geocoding(latt and lonti) by using gooogle geocoding api
GOOGLE_API_KEY = 'AIzaSyDA3_PAIPzxF2VuDyar66Ms5xBrRbv86zE' 
def extract_lat_long_via_address(address_or_zipcode):
    lat, lng = None, None
    api_key = GOOGLE_API_KEY
    base_url = "https://maps.googleapis.com/maps/api/geocode/json"
    endpoint = f"{base_url}?address={address_or_zipcode}&key={api_key}"
    # see how our endpoint includes our API key? Yes this is yet another reason to restrict the key
    r = requests.get(endpoint)
  
    try:
        '''
        This try block incase any of our inputs are invalid. This is done instead
        of actually writing out handlers for all kinds of responses.
        '''
        results = r.json()['results'][0]
        lat = results['geometry']['location']['lat']
        lng = results['geometry']['location']['lng']
    except:
        pass
    return lat, lng

In [65]:
# sample test
print(extract_lat_long_via_address(address_a[0]+"Australia"))

(-34.1863128, 142.1617641)

In [66]:
#create a new column to the dataframe (to store lat and lont)
location1=[]

In [67]:

for e in address_a:
    location1.append(extract_lat_long_via_address(e+"Australia"))

In [69]:
#check the number of records
len(location1)

4246

In [70]:
df1["location"]=location1

In [77]:
df1["address"]=address_a

In [73]:
#process service name
for e in df1['Service_Name']:
    e.replace("'"," ")

In [76]:
#transfer dataframe to csv file
df1.to_csv("final_data.csv")

In [79]:
#dataframe checking
df1.head()

,Service_Name,Type,Postcode,State,address1,address2,Suburb,email,phone,rating,location,address
0,Mildura Family Day Care,State/Territory and Local Government managed,3500,VIC,76-84 Deakin Avenue,NaN,MILDURA,fdcinfo@mildura.vic.gov.au,350188271,NaN,"(-34.1863128, 142.1617641)",76-84 Deakin Avenue MILDURA 3500 VIC
1,Alexandra & District Kindergarten,Private not for profit community managed,3714,VIC,15 Bayley Street,NaN,ALEXANDRA,alexandra.kin@kindergarten.vic.gov.au,357721387,Meeting NQS,"(-37.1922518, 145.7086579)",15 Bayley Street ALEXANDRA 3714 VIC
2,Alexandra Baby Care,Private for profit,3714,VIC,13 Coster Street,NaN,ALEXANDRA,alexandrababycare@bigpond.com,357722155,Meeting NQS,"(-37.193338, 145.707901)",13 Coster Street ALEXANDRA 3714 VIC
3,Altona Kindergarten,Private not for profit community managed,3018,VIC,89 Blyth Street,NaN,ALTONA,altona@ecms.org.au,393982839,Exceeding NQS,"(-37.8677191, 144.8257971)",89 Blyth Street ALTONA 3018 VIC
4,Somers Parade Kindergarten,Private not for profit community managed,3018,VIC,4 Somers Parade,NaN,ALTONA,somersparade@ecms.org.au,393981526,Exceeding NQS,"(-37.8709095, 144.8104263)",4 Somers Parade ALTONA 3018 VIC

In [82]:
#select required attributes
df2=pd.DataFrame(data=df1[["Service_Name","Type","Postcode","Suburb", 'email','phone',"rating","address","location"]])

In [83]:
#transfer dataframe to csv file
df2.to_csv("final_data1.csv")